<h2>Tambah Rekam Medis Baru</h2>
<form action="/new" method="POST">
  <label for="id">ID Rekam Medis:</label>
  <input type="text" id="id" name="id" required><br>

  <label for="patient_name">Nama Pasien:</label>
  <input type="text" id="patient_name" name="patient_name" required><br>

  <label for="diagnosis">Diagnosa:</label>
  <input type="text" id="diagnosis" name="diagnosis" required><br>

  <input type="submit" value="Simpan Rekam Medis">
</form>
