RACK_ENV=development

# Set true jika service ingin mengirim trace OpenTelemetry.
OTEL_ENABLED=false
OTEL_SERVICE_VERSION=0.1.0
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none

# URL untuk mode tanpa Docker.
PATIENT_URL=http://localhost:7860
DOCTOR_URL=http://localhost:7861
APPOINTMENT_SERVICE_URL=http://localhost:7862
REKAM_MEDIK_SERVICE_URL=http://localhost:7863

# URL untuk mode Docker.
# PATIENT_URL=http://patients:7860
# DOCTOR_URL=http://doctors:7861
# APPOINTMENT_SERVICE_URL=http://appointments:7862
# REKAM_MEDIK_SERVICE_URL=http://medical_records:7863

