PORT=7861
RACK_ENV=development
DATABASE_URL=sqlite://db/doctors.db
PATIENT_URL=http://localhost:7860
DOCTOR_URL=http://localhost:7861
APPOINTMENT_URL=http://localhost:7862
MEDICAL_RECORD_URL=http://localhost:7863
OTEL_ENABLED=false
OTEL_SERVICE_NAME=doctor-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
