<h1>Daftar Dokter</h1>
<a href="/dokters/new">Tambah Dokter Baru</a>
<table border="1" cellpadding="10">
  <tr>
    <th>ID</th>
    <th>Nama</th>
    <th>Spesialis</th>
    <th>Kontak</th>
  </tr>
  <% @dokters.each do |dokter| %>
    <tr>
      <td><%= dokter.id %></td>
      <td><%= dokter.nama %></td>
      <td><%= dokter.spesialis %></td>
      <td><%= dokter.kontak %></td>
    </tr>
  <% end %>
</table>

