<h1>Tambah Dokter Baru</h1>
<% if @errors %>
  <ul style="color: red;">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action="/dokters" method="POST">
  <label for="nama">Nama:</label><br>
  <input type="text" id="nama" name="nama" required><br><br>
  <label for="spesialis">Spesialis:</label><br>
  <input type="text" id="spesialis" name="spesialis" required><br><br>
  <label for="kontak">Kontak:</label><br>
  <input type="text" id="kontak" name="kontak" required><br><br>
  <button type="submit">Tambah Dokter</button>
</form>
<a href="/dokters">Kembali ke Daftar Dokter</a>
